
<mat-toolbar class="toolbar">
	<button class="toolbar-btn" mat-button routerLink="/profile">Profile</button>
	<button class="toolbar-btn" mat-button routerLink="/home">Home</button>
	<button class="toolbar-btn" mat-button routerLink="/notification">Notification</button>
	<button class="toolbar-btn" mat-button routerLink="/logout">Logout</button>
</mat-toolbar>


<div class="notify">
	<p class="notify-msg">{{user}} has visited your Profile <button class="cross">&#x2716;</button></p>
</div>

<mat-card class="profile">
	<mat-card-content class="profile-detail">
		<p>Name: {{user_profile.name}}</p>
		<p>Email: {{user_profile.email}}</p>
	</mat-card-content>
</mat-card>