<h1 class="head">Notification Panel</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<mat-card class="login">
  <h2 class="head">LOGIN</h2>
  <mat-card-content class="detail">
    <div class="details">
      <p class="error" *ngIf="(error)">{{error.error.err}}</p>
      <form  [formGroup]="info">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="passwd" placeholder="Password" type="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <button (click)="onLogin()">Login</button>
          <button id="register">Register</button>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="register">
  <h2 class="head">REGISTER</h2>
  <mat-card-content class="detail">
    <div class="details">
      <p class="error" *ngIf="(error)">{{error.error.err}}</p>
      <form  [formGroup]="user">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name" type="text" name="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username" type="text" name="username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="text" name="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="passwd" placeholder="Password" type="text" name="passwd">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="mobile" placeholder="Mobile Number" type="text" name="mobile">
        </mat-form-field>
        <br>
        <mat-form-field>
          <button (click)="onRegister()">Register</button>
          <button id="login">Login</button>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
