
<mat-toolbar class="toolbar">
	<button class="toolbar-btn" mat-button routerLink="/profile">Profile</button>
	<button class="toolbar-btn" >Home</button>
	<button class="toolbar-btn" mat-button routerLink="/notification">Notification</button>
	<button class="toolbar-btn" mat-button routerLink="/logout">Logout</button>
</mat-toolbar>


<div class="notify">
	<p class="notify-msg">{{user}} has visited your Profile <button onclick="remove()" class="cross">&#x2716;</button></p>
</div>

<div *ngFor="let user of user_array">
	<mat-card class="user">
		<mat-card-content class="user-detail">
			<a href="/profile/{{user._id}}">{{user.user}}</a>
		</mat-card-content>
	</mat-card>
</div>
