

.login {
	margin-top: 4cm;
	text-align: center;
	margin-top: 3cm;
	margin-left: 12cm;
	margin-right: 12cm;
	padding: 10px;
	background-color: cyan;
	opacity: 5;
	box-shadow: 10px 10px 50px 70px blue;
}

.register {
	margin-top: 4cm;
	text-align: center;
	margin: 1.5cm;
	padding: 10px;
	background-color: cyan;
	opacity: 5;
	box-shadow: 10px 10px 50px 70px blue;
}

.head {

}

.detail {
	overflow-wrap: all;
	padding: 15px;
	padding-right: 50px;
	margin: 10px;
	background-color: pink;
	box-shadow: 10px 10px 10px lightgreen;
}

button {
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: left;
}

button:hover {
	border: 5px solid yellow;
	background-color: white;
	transform: skew(15deg);
	color: red;
	box-shadow: 10px 10px 10px lightgreen;
}

input {
	border-radius: 10px;
	background-color: lightgrey;
	box-shadow: 5px 5px 5px white;
}