button{
	display: block;
	flex: 1 1 auto;
	background: none;
	background-color: yellow;
	color: red;

}

button:hover {
	transform: skew(10deg);
	box-shadow: 10px 10px 10px pink;
}

.profile{
	color: black;
}

.toolbar{
	background-color: black;
}

.notify{
	color: black;
	background-color: white;
	border: 5px solid blue;
	text-align: center;
}

.cross{
	font-size: 25px;
	color: red;
	float: right;
	border: none;
	margin-bottom: 5px;
	background: none;
}

.cross:hover {
	box-shadow: 10px 10px 10px grey;
}

.notify-msg{
	margin: 15px ;
	background-color: white;

}